{% extends "base.html" %} {% block content %}

<section>
    <p><b>Youtube api key: </b>This AIzaSyDE-Mcze5lzysMagAiik1MgrGUjLGkqdxw</p>
    <br>
    <img src="/static/youtube.png" />
    <p><b>Fixer api key: </b>CKA3dVhpP5PGBimljrkp8CWcPe6uS4Zw</p><br>
        <img src="/static/fixer.png" />

    <p><b>Yelp token: </b>Bearer pPhZNMmQwE7WJR5-Nz7OpVrHljVxT8cHzu9iDNH81cXq9-1J2iFLkFn145MXbaxyw8rz7Qbi6pZFYNrWwGKMw6bPfFOLnSDeUdHDppRpcKnfMP2Zm2O7XtzBr41hY3Yx</p><br>
            <img src="/static/yelp.png" />

</section>
{% endblock %}
